$font-stack: Helvetica, sans-serif;
$primary-color: #fff8cd;
$midnightblue: #0b0e55;
$white: #ffffff;
$grey: #e0e0e0;
$red: #fe8b8e;
$green: #2ecc71;
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $primary-color;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background-color: $white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $midnightblue;
    }

    p {
        color: $midnightblue;
        font-size: 12px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .form-control input[type="text"], input[type="email"],
    textarea {
        border: 1px solid $grey;
        width: 100%;
        padding: 10px;
    }

    .form-control.success input {
        border-color: $green;
    }

    .form-control.error input {
        border-color: $red;
    }

/*
    .form-control i {
        visibility: hidden;
        position: absolute;
        right: 10px;
    }

    .form-control.success i.fa-check-circle {
	color: $green;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: $red;
	visibility: visible;
}
*/
//.form-control small {
	//color: $red;
	//position: relative;
	//bottom: 0;
	//visibility: hidden;
//}

    /*
    textarea {
        resize: none;
        height: 80px
    }
    */
form, .contact:hover>div {
    display: none;
}

.contact:hover>form {
    display: block;
}

    .btn input[type="submit"] {
        border: 0px;
        margin-top:5px;
        padding: 10px;
        text-align: center;
        width: 100%;
        background: $midnightblue;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
    }

    h2.connect {
        border: 0px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bold;
        cursor: pointer;
    }

}
